p.large2 {
  font-size: 18px;
  text-transform: uppercase;
}

body{
  background-color: #222222;
}

header {
  background-image: url('../../img/mito-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  padding-bottom: 75px;
}
header .intro-text {
  padding-top: 50px;
      text-align:left;
}
header .intro-text .intro-lead-in {
    font-size: 26px;
    margin-bottom: 5px;
    font-style: italic;
    font-family: "Roboto Slab", sans-serif;
}
header .intro-text .intro-heading {
    font-size: 40px;
    margin-bottom: 5px;  
}

header .intro-text a {
  color:white;
}
header .intro-text a:hover {
  color: #11dbb9;
}

@media (min-height: 768px) {    
  header .intro-text {
    padding-top: 100px;
  }
    header {
          padding-bottom: 125px;
    }
    
}

.selection{
  padding-top: 5px
}

.icons{
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 100%;
    background-color: #12e2c0;
  color: white;
    cursor:pointer;
    text-align:center;
}

.carousel-control.left{
  background-image: none;
}

.carousel-control.right{
  background-image: none;
}

.carousel-caption{
  padding-bottom: 0px;
  color: black;
  text-shadow: none;
  right: 10%;
  left: 10%;
}

#myCarousel{
  border-radius: 10px;
}

